[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyqt5 = "~=5.15"
requests = "~=2.26"
pytube = "~=15.0"
xlrd = "~=2.0"
bs4 = "*"
html5lib = "*"

[dev-packages]

[requires]
python_version = "3.10"
